name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      ARCJET_KEY: ${{ secrets.ARCJET_KEY }}
      GEMINI_KEY: ${{ secrets.GEMINI_KEY }}

    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10
        run_install: 'false'
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    # set up MongoDB
    - name: Build and run Docker Compose
      run: docker compose -f docker-compose.yml up -d
    - name: Install dependencies
      run: pnpm install
    - name: Generate Prisma Client
      run: npx prisma generate
    - name: Push DB schema
      run: npx prisma db push

    - name: Install Playwright Browsers
      run: pnpm playwright install --with-deps
    - name: Run Playwright tests
      run: pnpm playwright test
    - uses: actions/upload-artifact@v5
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
